.str-message {
    &-page {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 10px 0 20px;
    }

    &-dialog {
        display: flex;
        flex-direction: column;
        background-color: rgba(159, 168, 255, 0.1);
        border-radius: 10px;
        max-width: 600px;
        flex-grow: 1;
        padding: 10px 0 20px;
        box-sizing: border-box;
        margin: 0 20px;
    }

    &-go-back {
        display: flex;
        padding-top: 30px;

        &__img {
            width: 20px;
            height: 20px;
        }
        
        &-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 31px;
            padding-right: 2px;
            border-radius: 50%;
            background-color: inherit;
            cursor: pointer;
            transition-duration: 0.2s;

            &:hover {
                background-color: rgb(128 128 128 / 30%);
            }
        }
    }
}