@mixin phones {
    @media screen and (width <= 800px) {
        @content;
    }
}

.found-user {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 30px 10px 10px;
    border-radius: 10px;
    border: 1px solid #00000038;
    transition-duration: 0.2s;
    max-width: 800px;

    @include phones {
        padding: 10px;
        gap: 10px;
    }

    &:hover {
        background-color: rgb(0 0 0 / 6%);
        border: 1px solid #00000000;
    }

    &-avatar {
        display: flex;
        width: 70px;
        height: 70px;
        border-radius: 5px;

        @include phones {
            width: 50px;
            height: 50px;
        }

        &__img {
            width: inherit;
            height: inherit;
            border-radius: inherit;
            object-fit: cover;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 15px;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: start;

        &__name {
            font-family: 'Inter';
            font-size: 19px;

            @include phones {
                font-size: 16px;
            }
        }

        &__tags {
            font-family: 'Inter';
            font-size: 14px;
            color: #00000075;
            display: flex;
            gap: 5px;

            @include phones {
                font-size: 12px;
            }
        }
    }

    &-stats {
        display: flex;
        gap: 50px;

        @include phones {
            gap: 10px;
        }
    }

    &-last-seen {
        display: flex;
        gap: 5px;
        font-size: 13px;
        font-family: 'Inter';
        color: #0000008f;

        @include phones {
            font-size: 12px;
        }

        &__img {
            width: 17px;
            height: 17px;

            @include phones {
                width: 14px;
                height: 14px;
            }
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        font-family: 'Inter';
        font-size: 15px;

        @include phones {
            font-size: 12px;
        }

        &__rate, &__helps, &__feedbacks {
            display: flex;
            gap: 10px;
        }
    }
}