.main {
    &-content {
        display: flex;
        flex-grow: 1;
        gap: 30px;
        min-height: 0;
    }

    &-results {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: scroll;
        max-height: calc(100vh - 220px);
        gap: 10px;

        &::-webkit-scrollbar {
            display: none;
        }

        &__waiting, &__no-results {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 20px;
            font-family: 'Inter';
            color: #00000073;

            @include phones {
                font-size: 18px;
                margin-top: 15px;
            }
        }
    }
}