.skills-tags {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    padding-right: 20px;

    &__tag {
        padding: 5px 10px;
        border-radius: 15px;
        cursor: pointer;
        font-size: 17px;
        color: #4c412d;
        user-select: none;
        font-family: 'Lato';

        &_selected {
            background-color: green;
            color: white;
        }
    }

    &__title {
        display: flex;
        gap: 40px;

        font-family: 'Inter';
        font-weight: bold;
        font-size: 23px;
        margin-bottom: 20px;
    }

    &__count {
        color: #00000078;
    }

    &-examples {
        display: flex;
        flex-wrap: wrap;
        padding-right: 10px;
        gap: 10px;
    }
}