@mixin phones {
    @media screen and (width <= 800px) {
        @content;
    }
}

.settings {
    &-page {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: 0;
    }
    
    &-main {
        display: flex;
        flex-grow: 1;
        padding: 40px 20px;
        overflow: scroll;
        font-family: 'Inter';
        min-height: 0;

        @include phones {
            flex-direction: column;
            padding: 10px;
            row-gap: 10px;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}