@mixin phones {
    @media screen and (width <= 800px) {
        @content;
    }
}

.sign-up {
    &-page {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 430px;
        max-width: 100%;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__button {
        &-reg, &-next {
            background-color: #0000ff;
            color: white;
        }

        &-reg {
            padding: 8px 20px;
        }

        &-reg, &-next, &-prev {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Inter";
            margin-top: 20px;
            border-radius: 10px;
            cursor: pointer;
            transition-duration: 0.2s;
            user-select: none;
            text-align: center;

            &:hover {
                transform: translateY(-2px);
                box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.3098039216);
            }
        }
        
        @include phones{
            &-next, &-prev, &-reg {
                padding: 8px;
            }
        }

        &-next, &-prev {
            padding: 8px 50px;
        }

        &-prev {
            background-color: white;
            color: black;
        }
    }

    &-avatar {
        font-family: "Inter";
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        color: black;
        align-items: start;

        &-field {
            display: flex;
            width: 100%;
            justify-content: center;
        }

        &__preview {
            font-size: 14px;
            width: 150px;
            height: 150px;
            cursor: pointer;
            border-radius: 50%;
            object-fit: cover;
        }

        &_filtered {
            filter: invert(1);
        }

        &__input {
            display: none;
        }
        
        &__error {
            height: 12px;
            font-size: 12px;
            color: #cf0000;
            font-family: "Inter";
        }
    }

    &-preferred-format {
        font-family: "Inter";
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        color: black;
        align-items: start;

        &-select {
            border: none;
            padding: 10px 5px;
            font-family: 'Inter';
            border-radius: 10px;
            cursor: pointer;
            font-size: 14px;

            &:focus {
                outline: none;
                border: none;
            }
        }
    }

    &-bio {
        font-family: "Inter";
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        color: black;

        &__length {
            font-size: 10px;
            color: #0000007d;
            font-family: Inter;
        }

        &-field {
            background-color: white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: end;
            padding: 7px 10px 5px;
            height: 150px;
            gap: 5px;
        }

        &__input {
            border: none;
            background: inherit;
            font-family: inherit;
            resize: none;
            width: 100%;
            flex-grow: 1;

            &:focus {
                outline: none;
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &-sktl {
        font-family: "Inter";
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        color: black;
        align-items: start;

        &-case {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 5px;
            box-sizing: border-box;

            &__delete-img {
                width: 10px;
                height: 10px;
                cursor: pointer;
            }

            &-select-skill {
                border: none;
                padding: 3px;
                border-radius: 6px;
                font-family: 'Inter';
                font-size: 14px;
                width: 50%;
            }

            &-select-level {
                border: none;
                padding: 3px;
                border-radius: 6px;
                font-family: 'Inter';
                font-size: 14px;
            }
        }

        &-cases {
            display: flex;
            flex-direction: column;
            width: 100%;

            &-add-skill {
                display: flex;
                width: 20px;
                box-sizing: border-box;
                padding: 5px;
                border-radius: 50%;
                background: #dcdcdc;
                cursor: pointer;
                opacity: 0.5;
                transition-duration: 0.2s;

                &:hover {
                    transform: scale(1.1);
                }

                &__img {
                    width: 10px;
                    height: 10px;
                    border-radius: inherit;
                }
            }
        }
    }

    &-footer {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    &-hrefs {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: 'Inter';

        &-examples {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            &-add-href__img {
                width: 15px;
                height: 15px;
                cursor: pointer;
            }

            &-item {
                display: flex;
                flex-direction: column;

                &-field {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                &__img {
                    width: 12px;
                    height: 12px;
                    cursor: pointer;
                }

                &__input {
                    border: none;
                    padding: 3px;
                    border-radius: 6px;
                    font-family: "Inter";
                    font-size: 14px;
                    max-width: 150px;

                    &:focus-visible {
                        outline: none;
                    }
                }

                &__error {
                    font-size: 12px;
                    color: #cf0000;
                    font-family: "Inter";
                    max-width: 100%;
                }
            }
        }
    }
}