@mixin message-spinner {
    animation-name: messages-spinner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: #d3cff98f;
    border-radius: 50%;
}

.chat-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 10px 0;
    font-family: 'Inter';
    position: relative;
    scroll-behavior: smooth;
    margin-right: 5px;

    &-attachments {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        padding: 0 20px;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;
            border-radius: 10px;
            background: linear-gradient(217deg, #F3F9FF, #C6E1FF);
            position: relative;
            gap: 5px;
            padding: 13px 8px 8px;

            &__img {
                width: 40px;
                height: 40px;
            }

            &__size {
                font-family: 'Inter';
                font-size: 12px;
                color: #5b5b5b;
            }

            &__delete {
                position: absolute;
                cursor: pointer;
                z-index: 1;
                top: 5px;
                right: 5px;
                width: 13px;
                height: 13px;
            }
        }
    }

    &__mock {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
    }

    &__spinner {
        @include message-spinner;
    }

    &__text {
        font-size: 14px;
        word-break: break-word;
        margin-left: 0;
        margin-right: auto;
    }

    &__time {
        color: rgba(0, 0, 0, 0.6);
        font-size: 10px;
        display: flex;
        gap: 5px;
    }

    &-structured {
        display: flex;
        flex-direction: column;
        max-height: 300px;
        overflow: scroll;
        max-width: 100%;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-link {
        margin: auto auto auto 0;

        &__go-to-page {
            color: #785bd2;
            text-decoration: underline;
            font-size: 14px;
        }
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &:hover {
        transition-duration: 0.3s;

        &::-webkit-scrollbar-thumb {
            background-color: #0234ff4f;
        }
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 30px;
        width: 4px;
        transition-duration: 0.3s;
    }

    &__no-messages {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        color: #00000054;
        font-size: 23px;
    }

    &-day-field {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;

        &__day {
            padding: 5px 10px;
            background-color: #e4e4ff;
            border-radius: 20px;
            color: #9d9a9a;
            font-size: 12px;
            font-family: 'Inter';
            user-select: none;
        }
    }

    &__structurizing {
        animation-name: structurizing;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        user-select: none;
    }
}

@keyframes recorder-bar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes structurizing {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}