@mixin phones {
    @media screen and (width <= 800px) {
        @content;
    }
}

.material {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px 15px;
    justify-content: space-between;
    transition-duration: 0.2s;
    gap: 20px;

    @include phones {
        gap: 15px;
        padding: 8px 12px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.06);
        border: 1px solid rgba(0, 0, 0, 0);
    }

    &-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-family: 'Inter';
        align-items: center;

        &__title {
            text-decoration: underline;

            @include phones {
                font-size: 15px;
            }
        }

        &__tags {
            color: #00000069;

            @include phones {
                font-size: 12px;
            }
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-family: "Inter";
        font-size: 13px;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        @include phones {
            font-size: 11px;
            align-items: end;
        }

        &-left, &-right {
            display: flex;
            align-items: center;
            gap: 30px;

            @include phones {
                flex-direction: column-reverse;
            }
        }

        &-left {
            @include phones {
                align-items: start;
                gap: 7px;
            }
        }

        &-right {
            @include phones {
                align-items: end;
                gap: 5px;
            }
        }

        &-time {
            display: flex;
            gap: 5px;
            font-size: 13px;
            font-family: "Inter";
            color: rgba(0, 0, 0, 0.5607843137);
            width: 150px;
            align-items: center;

            @include phones {
                font-size: 11px;
            }

            &__img {
                width: 17px;
                aspect-ratio: 1;

                @include phones {
                    width: 12px;
                }
            }
        }

        &-download, &-share, &-author {
            &:hover {
                text-decoration: underline;
            }
        }

        &-download, &-share {
            display: flex;
            gap: 7px;
            align-items: center;

            &__img {
                width: 13px;
                height: 13px;
            }
        }

        &-share__img {
            transform: scale(-1, 1);
        }

        &-author {
            display: flex;
            gap: 10px;
            font-size: 14px;
            align-items: center;

            @include phones {
                font-size: 12px;
                gap: 7px;
            }

            &__avatar-img {
                aspect-ratio: 1;
                width: 20px;
                border-radius: 50%;

                @include phones {
                    width: 15px;
                }
            }
        }

        &-delete {
            display: flex;
            width: 17px;

            &__img {
                aspect-ratio: 1;
                width: 17px;
                transition-duration: 0.2s;

                &:hover {
                    width: 18px;
                }
            }
        }
    }
}