.main-right-sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;

    &-title {
        display: flex;
        gap: 50px;
        font-size: 23px;
        font-family: 'Inter';
    }
}