$min-message-spinner-size: 10px;
$max-message-spinner-size: 50px;

@mixin box-spinner{
    border-radius: inherit;
    background-color: #ffffff47;
    animation-name: avatar-spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@mixin message-spinner {
    animation-name: messages-spinner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: #d3cff98f;
    border-radius: 50%;
}

@keyframes avatar-spinner {
    from {
      width: 0px;
      height: 0px;
    }
    to {
      width: 100%;
      height: 100%;
    }
}

@keyframes messages-spinner {
    from {
        width: $min-message-spinner-size;
        height: $min-message-spinner-size;
        opacity: 0;
    }
    50% {
        width: $max-message-spinner-size;
        height: $max-message-spinner-size;
        opacity: 1;
    }
    to {
        width: $min-message-spinner-size;
        height: $min-message-spinner-size;
        opacity: 0;
    }
}