$darkGreenDullText: #50bc80;
$darkGreenBack: #143c42;
$darkGreenBrightText: #e8ede0;
$darkGreenMiddleBlock: #39666d;
$darkGreenAdvanced: #2e7d32;
$darkGreenIntermediate: #43a047;
$darkGreenBeginner: #81c784;
$darkGreenError: #1ffff2;

.dark-green-mode {
    &__bright-right-border {
        border-right: none;
    }

    &__bright-block {
        background-color: $darkGreenDullText;
    }

    &__middle-block {
        background-color: $darkGreenMiddleBlock;

        &_hovered {
            &:hover {
                background-color: #39666d;
            }
        }
    }

    &__dull-text {
        color: $darkGreenDullText;

        &::after {
            background-color: $darkGreenDullText;
        }
    }

    &__block {
        background-color: $darkGreenBack;
    }

    &__bright-text {
        color: $darkGreenBrightText;

        &::after {
            background-color: $darkGreenBrightText;
        }
    }

    &__img {
        filter: invert(0.8);
    }

    &__advanced-block {
        background-color: $darkGreenAdvanced;
    }

    &__intermediate-block {
        background-color: $darkGreenIntermediate;
    }

    &__beginner-block {
        background-color: $darkGreenBeginner;
    }

    &__advanced-text {
        color: $darkGreenAdvanced;
    }

    &__intermediate-text {
        color: $darkGreenIntermediate;
    }

    &__beginner-text {
        color: $darkGreenBeginner;
    }

    &__error-block {
        background-color: $darkGreenError;
    }

    &__error-text {
        color: $darkGreenError;
    }
}