.skills-line {
    &__item {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;

        &_beginner {
            color: #BCBCFF;
        }

        &_intermediate {
            color: #7B7AFF;
        }

        &_advanced {
            color: #4C4BFF;
        }
    }
}