.skills-line {
    &__item {
        &_beginner {
            color: #B9B9B9;
        }

        &_intermediate {
            color: #6C6C6C;
        }

        &_advanced {
            color: #000000;
        }
    }
}