@import url('../shared/Styles/Spinners.scss');

body {
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    box-sizing: border-box;
}

.main-part {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-height: calc(100% - 60px);
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

a {
    color: inherit;
    text-decoration: none;
}