@mixin box-spinner{
    border-radius: inherit;
    background-color: #ffffff47;
    animation-name: avatar-spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.profile {
    &-page {
        display: flex;
        flex-grow: 1;
        padding: 40px 20px;
    }

    &-left-column {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
        margin-right: 30px;
    }

    &-avatar {
        margin-bottom: 30px;

        &__img {
            width: 200px;
            height: 200px;
            border-radius: 7px;

            &-mock {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(128 128 128 / 34%);
            }

            &-spinner {
                @include box-spinner;
            }
        }
    }

    &-stats {
        display: flex;
        flex-direction: column;
        width: 150px;
        gap: 9px;
        margin-bottom: 20px;

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__example {
                &-title {
                    font-family: 'Inter';
                    font-size: 18px;
                }

                &-value {
                    font-family: 'Inter';
                    font-size: 17px;
                    color: gray;
                }

                &-mock {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(128 128 128 / 34%);
                    width: 17px;
                    height: 17px;
                    border-radius: 6px;
                }
    
                &-spinner {
                    @include box-spinner;
                }
            }
        }
    }

    &-tags {
        display: flex;
        flex-direction: column;
        width: 260px;
        margin-bottom: 40px;

        &-header {
            display: flex;
            align-items: end;
            margin-bottom: 10px;
            
            &__title {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 23px;
                font-family: 'Inter';
                margin-right: 40px;
            }

            &__count {
                font-size: 21px;
                color: gray;
            }

            &__img {
                width: 15px;
                height: 15px;
                opacity: 0.5;
            }
        }

        &-array {
            display: flex;
            flex-wrap: wrap;

            &__tag {
                font-family: 'Inter';
                font-size: 16px;
                background-color: rgba(217, 217, 217, 0.4);
                padding: 5px 10px;
                border-radius: 20px;
                margin: 6px 7px;

                &_beginner {
                    background-color: #b2ffe5;
                }
        
                &_intermediate {
                    background-color: #ffff4dab;
                }
        
                &_advanced {
                    background-color: #ff7f7f;
                }
            }
        }
    }
    
    &-preferred-format {
        display: flex;
        align-items: start;
        width: 100%;
        font-size: 17px;
        font-family: 'Inter';
        flex-direction: column;
    }

    &-right-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 50px;
    }

    &-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: start;
        min-height: 120px;
    }

    &-brief {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__name {
            font-family: 'Inter';
            font-size: 25px;

            &-mock {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(128 128 128 / 34%);
                width: 200px;
                height: 31px;
                border-radius: 7px;
            }

            &-spinner {
                @include box-spinner;
            }
        }

        &-last-seen {
            display: flex;
            align-items: center;
            gap: 5px;

            &__img {
                width: 17px;
                height: 17px;
            }
        }
    }

    &-buttons {
        display: flex;
        gap: 15px;
        align-items: center;

        &_other {
            flex-direction: column;
            align-items: stretch;
        }

        &-exit {
            background-color: rgba(0, 0, 255, 0.7);
            color: white;
            border: none;
        }

        &-edit, &-report, &-chat, &-exit {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 4px;
            cursor: pointer;
            border-radius: 12px;
            padding: 10px;
            border: 1px solid #00000066;
            font-family: 'Inter';

            &__img {
                width: 20px;
                height: 20px;
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &-description {
        font-family: 'Inter';
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;

        &__field {
            box-sizing: border-box;
            display: flex;
            padding: 17px;
            color: rgba(0, 0, 0, 0.8);
            font-size: 16px;
            background-color: rgba(217, 217, 217, 0.3);
            border-radius: 10px;
            max-width: 80%;
            min-width: 80%;
            min-height: 100px;

            &-mock {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(128 128 128 / 34%);
            }

            &-spinner {
                @include box-spinner;
            }
        }
    }

    &-hrefs {
        font-family: "Inter";
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;

        &-examples {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            &__href {
                color: #0000ffb8;
                text-decoration: underline;
                font-size: 17px;
                padding: 5px 12px;
            }
        }

        &__no-hrefs {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            color: #00000073;
        }
    }

    &-feedbacks {
        font-family: "Inter";
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;

        &__no-feedbacks {
            display: flex;
            width: 100%;
            justify-content: center;
            color: rgba(0, 0, 0, 0.7);
            font-size: 17px;
        }
    }
}