$borderRad: 15px;

@mixin phones {
    @media screen and (width <= 800px) {
        @content;
    }
}

.chat {
    &-voice-message {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        padding: 8px;
        border-radius: $borderRad $borderRad 0 0;
        gap: 4px;
        cursor: pointer;

        &_left {
            background-color: #D4E2FF;
            border-radius: $borderRad $borderRad $borderRad 0;
            align-items: start;

            &::before {
                content: "";
                width: 5px;
                border-radius: 12px;
            }
        }

        &_right {
            background-color: rgba(0, 30, 222, 0.29);
            border-radius: $borderRad $borderRad 0 $borderRad;
            align-items: end;
        }

        &-content {
            display: flex;
            padding: 0 5px;
            align-items: center;
            justify-content: space-between;
            gap: 3px;
            margin-right: auto;

            &__img {
                width: 20px;
                height: 20px;
                cursor: pointer;
                transition-duration: 0.5s;
                user-select: none;

                &:hover {
                    transform: scale(1.1);
                }
            }

            &__duration {
                font-family: 'Inter';
                font-size: 13px;
                width: 37px;
                color: white;
            }

            &__plot {
                width: 100px;
            }

            &__encrypted {
                aspect-ratio: 1;
                width: 20px;
                filter: brightness(2);
                transition-duration: 0.2s;
                margin-right: 5px;

                &_shown {
                    transform: scaleY(-1);
                    aspect-ratio: 1;
                    width: 20px;
                    filter: brightness(2);
                    transition-duration: 0.2s;
                    margin-right: 5px;

                    &:hover {
                        transform: scale(1.2, -1.2);
                    }
                }

                &:hover {
                    transform: scale(1.2);
                }
            }

            &__decrypted-message {
                width: 100%;
                word-break: break-word;
                margin: auto;
                overflow: hidden;
                font-family: 'Inter';
                font-size: 14px;

                border-left: 3px solid #ab69ff;
                padding: 5px 10px 5px 5px;
                background-color: #a5a5ff;
                margin-top: 4px;
                margin-bottom: 0px;
                color: white;
                box-sizing: border-box;

                animation-name: show-decrypted;
                animation-duration: 0.2s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
        }

        @include phones {
            max-width: 240px;
        }
    }
}
