@mixin phones {
    @media screen and (width <= 800px) {
        @content;
    }
}

.settings-footer {
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid;
    
    @include phones {
        padding: 5px 0;
    }

    &-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;
        user-select: none;
    }

    &__cancel, &__save {
        padding: 10px 20px;
        border-radius: 10px;
        font-family: 'Inter';
        cursor: pointer;
        transition-duration: 0.2s;
        border: none;

        @include phones {
            padding: 7px 15px;
        }

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.3098039216);
        }
    }

    &__save {
        background-color: rgba(0, 0, 255, 0.7);
        color: white;
    }
}