@mixin materials-spinner {
    animation-name: messages-spinner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: #d3cff98f;
    border-radius: 50%;
}

@mixin phones {
    @media screen and (width <= 800px) {
        @content;
    }
}

.materials-content {
    display: flex;
    min-height: 0;
    gap: 50px;
    flex-grow: 1;

    @include phones {
        flex-direction: column-reverse;
        justify-content: start;
        gap: 20px;
    }

    &-left-side {
        display: flex;
        flex-grow: 5;
        max-width: 800px;
        min-height: 0;
        overflow: scroll;

        @include phones {
            width: 100%;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-grow: 1;
    }

    &-right-side {
        display: flex;
        flex-direction: column;
        min-width: 30%;
        max-width: 30%;
        gap: 20px;

        @include phones {
            gap: 10px;
            max-width: 100%;
        }
    }

    &-filter {
        display: flex;
        gap: 10px;
        align-items: center;
        font-family: 'Inter';
        font-size: 17px;
        width: 270px;

        @include phones {
            font-size: 15px;
        }

        &-select {
            border: none;
            background-color: #00000019;
            padding: 5px 5px;
            border-radius: 20px;
            cursor: pointer;
            font-family: 'Inter';

            @include phones {
                font-size: 11px;
            }

            &:focus-visible, &:focus {
                border: none;
                outline: none;
            }
        }
    }

    &__no-materials {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        font-size: 23px;
        font-family: Inter;
        color: #00000069;
        align-items: center;
        text-align: center;

        @include phones {
            font-size: 18px;
            margin-top: 10px;
        }
    }

    &-mock {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    &__spinner {
        @include materials-spinner;
    }

    &__name-input, &__skill-select {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 10px;
        font-family: "Inter";
        font-size: 13px;

        @include phones {
            padding: 7px;
            font-size: 11px;
            width: 300px;
        }

        &:focus-visible {
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.8);
        }
    }
}