@mixin materials-spinner {
    animation-name: messages-spinner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: #d3cff98f;
    border-radius: 50%;
}

.materials-content {
    display: flex;
    height: calc(100vh - 140px);
    gap: 50px;

    &-left-side {
        display: flex;
        flex-grow: 5;
        max-width: 800px;
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-grow: 1;
    }

    &-right-side {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &-filter {
        display: flex;
        gap: 10px;
        align-items: center;
        font-family: 'Inter';
        font-size: 17px;

        &-select {
            border: none;
            background-color: #00000019;
            padding: 5px 5px;
            border-radius: 20px;
            cursor: pointer;
            font-family: 'Inter';

            &:focus-visible, &:focus {
                border: none;
                outline: none;
            }
        }
    }

    &__no-materials {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        font-size: 23px;
        font-family: Inter;
        color: #00000069;
        align-items: center;
    }

    &-mock {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    &__spinner {
        @include materials-spinner;
    }
}