.log-in {
    &-page {
       display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center; 
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 50px;
        background-color: #5B5AFF;
        color: #ffffff;
        font-family: 'Inter';
        margin-top: 20px;
        border-radius: 10px;
        cursor: pointer;
        transition-duration: 0.2s;
        user-select: none;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.3098039216);
        }
    }
}