@mixin box-spinner{
    border-radius: inherit;
    background-color: #ffffff47;
    animation-name: avatar-spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@mixin phones {
    @media screen and (width <= 800px) {
        @content;
    }
}

.chat-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #000f3a1f;
    min-height: 60px;
    align-items: center;
    position: relative;

    @include phones {
        padding: 0px 10px;
        gap: 7px;
    }

    &-go-back {
        display: none;

        @include phones {
            display: flex;
        }

        &-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15px;
            height: 15px;
            padding-right: 2px;
            border-radius: 50%;
            background-color: inherit;
            cursor: pointer;
            transition-duration: 0.4s;
        }

        &__img {
            width: 15px;
            height: 15px;
        }
    }

    &-user {
        display: flex;
        align-items: center;
        gap: 13px;

        @include phones {
            gap: 7px;
            flex-grow: 1;
        }

        &__name {
            font-size: 20px;

            @include phones {
                font-size: 16px;
            }

            &-mock {
                width: 100px;
                height: 20px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(128 128 128 / 34%);
            }

            &-spinner {
                @include box-spinner;
            }
        }

        &__online {
            color: rgba(0, 0, 0, 0.6);
            font-family: 'Inter';
            font-size: 12px;

            @include phones{
                font-size: 10px;
            }

            &-mock {
                margin-top: 10px;
                width: 50px;
                height: 10px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(128 128 128 / 34%);
            }
        }

        &-info {
            font-family: 'Inter';
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 13px;
            height: 100%;

            @include phones {
                gap: 7px;
            }
        }

        &__avatar {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            object-fit: cover;

            @include phones() {
                width: 30px;
                height: 30px;
                border-radius: 3px;
            }

            &-mock {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(128 128 128 / 34%);
            }
        }
    }

    &-spinner {
        @include box-spinner;
    }

    &-chat-info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 7px;
        align-items: end;

        &__tags {
            font-family: 'Inter';
            color: rgba(0, 0, 0, 0.4);
            display: flex;
            gap: 5px;
            flex-wrap: wrap;

            @include phones {
                font-size: 12px;
            }
        }

        &__rating {
            color: rgba(0, 0, 0, 0.6);
            font-family: 'Inter';
            font-size: 12px;

            @include phones {
                font-size: 10px;
            }
        }
    }

    &-remove-selection {
        display: flex;
        align-items: center;
        gap: 18px;
        color: #1c2fd1c2;
        font-size: 25px;

        &__img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }

    &-controls {
        display: flex;
        align-items: center;
        gap: 15px;

        &__img {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }
    }
}