@mixin phones {
    @media screen and (width <= 800px) {
        @content;
    }
}

.materials-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    gap: 30px;
    box-sizing: border-box;

    @include phones {
        padding: 10px;
        gap: 20px;
    }
}