@mixin phones {
    @media screen and (width <= 800px) {
        @content;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    padding: 30px;
    gap: 23px;

    @include phones {
        display: none;
    }

    &-item {
        display: flex;
        align-items: center;
        padding: 8px 10px;
        border-radius: 10px;

        &__img {
            width: 25px;
            height: 25px;
            user-select: none;
        }

        &__title {
            font-family: 'Roboto';
            margin-left: 8px;
            font-size: 17px;
        }

        &_selected {
            background-color: #80808042;
        }
    }
}