@mixin phones {
    @media screen and (width <= 800px) {
        @content;
    }
}

.user-materials {
    &-page {
        flex-direction: column;
        display: flex;
        width: 100%;
        padding: 30px;
        gap: 20px;
        flex-grow: 1;
        min-height: 0;
        overflow: scroll;
        box-sizing: border-box;

        @include phones {
            padding: 10px;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}