.user-materials {
    &-page {
        flex-direction: column;
        display: flex;
        width: 100%;
        padding: 30px;
        gap: 20px;
        flex-grow: 1;
        min-height: 0;
        overflow: scroll;
        box-sizing: border-box;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}