.password-field {
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    color: black;

    &-content{
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        position: relative;

        &__input {
            border: none;
            background: inherit;
            border-radius: inherit;
            font-size: 16px;
            width: 100%;
            box-sizing: border-box;
            font-family: 'Inter';
            padding: 10px;
            border: 2px solid rgba(0, 0, 0, 0);

            &_errored {
                border: 2px solid red;
            }

            &:focus-visible {
                outline: none;
            }
        }
    }

    &__eye-img {
        width: 15px;
        height: 15px;
        cursor: pointer;
        user-select: none;
        position: absolute;
        right: 10px;
    }

    &__error {
        font-size: 12px;
        color: #cf0000;
        font-family: "Inter";
        max-width: 250px;
    }
}